{% extends 'main/base.html'  %}
{% load tags %}
{% block content%}
<div class="row text-center p-4">
    {% for product in object_list %}
        <div class="container col-4">
            <div class="card p-0 mb-4">
                <div class="card-header">
                    <h4 class="my-0">{{product.name}}</h4>
                </div>
                <div class="card-body">
                    <img class="card-img" src="{% mediapath product.image_preview %}"/>
                    <h1 class="card-title pricing-card-title">{{ product.price }} ₽</h1>
                    <p>{{ product.description|slice:100 }}...</p>
                    <button type="button" class="btn btn-lg btn-block btn-outline-primary">Купить</button>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}