{% extends 'main/base.html' %}
{% load tags %}
{% block content %}
<div class="row text-center">
    <div class="col-12">
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">{{ object_list.0.name }}</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title text-right pricing-card-title">{{ object_list.0.price }} ₽</h1>
                <img class="card-img" src="{% mediapath object_list.0.image_preview %}"/>
                <div class="text-left ">
                    <div>
                        <span class="text-uppercase font-weight-bold">Категория:</span>
                        <span class="font-italic">{{ object_list.0.category }}</span>
                    </div>
                    <br>
                    <p>{{ object_list.0.description }}</p>
                </div>
                <button type="button" class="btn btn-lg btn-block btn-outline-primary">Купить</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
